section
{
  background-image: url(../../../../assets/images/photo-1557683316-973673baf926.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo,.time{
  width: fit-content;
}
