<section>
    <div class="container py-3">
        <div class="row">
            <div class="col-md-8 offset-md-2 bg-primary">
                <div>
                    <form class="bg-white m-5 p-5" [formGroup]="formQuestion" (ngSubmit)="edit(formQuestion)">
                        <h2 class="text-center fw-bold">update complete question</h2>
                        <div class="mb-3">
                            <label for="question" class="form-label">question</label>
                            <textarea class="form-control" placeholder="enter your question" id="question" formControlName="question"></textarea>
                            <p class="text-danger" *ngIf="formQuestion.controls['question'].touched && formQuestion.controls['question'].errors?.['required']">
                                question is required</p>
                        </div>
                        <div class="mb-3">
                            <label for="answer" class="form-label">answer</label>
                            <input type="text" class="form-control" id="answer" formControlName="answer">
                            <p class="text-danger" *ngIf="formQuestion.controls['answer'].touched && formQuestion.controls['answer'].errors?.['required']">
                                answer is required</p>
                        </div>
                        <div class="mb-3">
                            <label for="degree" class="form-label">degree</label>
                            <input type="number" class="form-control" id="degree" formControlName="degree">
                            <p class="text-danger" *ngIf="formQuestion.controls['degree'].touched && formQuestion.controls['degree'].errors?.['required']">
                                degree is required</p>
                            <p class="text-danger" *ngIf="formQuestion.controls['degree'].touched && formQuestion.controls['degree'].errors?.['min']">
                                degree min is 1</p>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">status</label>
                            <select class="form-select" aria-label="Default select example" id="status" formControlName="status">
                <option selected value="null" disabled>Select status of question</option>
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="difficult">difficult</option>
              </select>
                            <p class="text-danger" *ngIf="formQuestion.controls['status'].touched && formQuestion.controls['status'].errors?.['required']">
                                status is required</p>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary  m-auto d-block" [disabled]="formQuestion.invalid">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>