<div class="container my-5">
  <div class="bg-primary">
    <div class="container p-5">
      <div class="bg-white">
        <h1 class="pt-5 text-center">Forget Password</h1>
        <form class="px-3 pb-5" [formGroup]="forgetForm" (ngSubmit)="forget(forgetForm)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" required class="form-control" id="exampleInputEmail1" formControlName="email">
            <p class="text-danger "
              *ngIf="forgetForm.controls['email'].touched && forgetForm.controls['email'].errors?.['required']">email is
              required</p>
            <p class="text-danger"
              *ngIf="forgetForm.controls['email'].touched && forgetForm.controls['email'].errors?.['email']">email is not
              valid format</p>
          </div>
          <div class="mt-5">
            <button type="submit" class="btn btn-primary d-block m-auto">get code</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
