@media only screen and (max-width: 595px) {
  .addadmin{
    margin-top: 25% !important;
    margin-bottom: 10% !important;
  }
}
.addadmin{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 3%;
}
.addadmin-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.addadmin .addadmin-form{
  padding: 10%;
  padding-bottom: 3%;
  margin-top: 10%;
}
.btnaddadmin{
  border: none;
  border-radius: 1.5rem !important;
  padding: 2%;
  font-weight: 600;
}
.addadmin-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}
