<section>
  <div class="container my-5">
    <h2 class="text-center fw-bold mb-5">All Exams in this course</h2>
    <div class="alert alert-success" *ngIf="successMessage">
      <h3 class="text-center">{{successMessage}}</h3>
    </div>
    <button class="btn btn-primary mb-4  me-2 float-end" routerLink="addExam">Add Exam</button>
    <div class="clear"></div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-xl-4 col-lg-6" *ngFor="let exam of allExams;let i=index">
          <div class="p-3 ">
            <div class="border border-4 p-1">
              <h2 class="text-center fw-bold text-danger ">Exam{{i+1}}</h2>
              <div class="container">
                <div class="row">
                  <div class="col-7">
                    <h3 class="fw-bold text-primary">Name:</h3>
                  </div>
                  <div class="col-5">
                    <p class="fw-bold pt-1 ">{{exam.name}}</p>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-7 ">
                    <div>
                      <h3 class="fw-bold text-primary">Code:</h3>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class=" pt-1">
                      <p class="fw-bold"> {{exam.code}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-7 ">
                    <div>
                      <h3 class="fw-bold text-primary">Complete:</h3>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class=" pt-1">
                      <p class="fw-bold"> {{exam.number_of_question_complete}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-7 ">
                    <div>
                      <h3 class="fw-bold text-primary">TF:</h3>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class=" pt-1">
                      <p class="fw-bold"> {{exam.number_of_question_tf}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-7">
                    <h3 class="fw-bold text-primary ">MCQ:</h3>
                  </div>
                  <div class="col-5 ">
                    <div class="">
                      <p class="fw-bold"> {{exam.number_of_question_static_mcq}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-7">
                    <h3 class="fw-bold text-primary ">End:</h3>
                  </div>
                  <div class="col-5">
                    <p class="fw-bold  pt-1"> {{exam.end_time}}</p>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-7">
                    <h3 class="fw-bold text-primary ">Start:</h3>
                  </div>
                  <div class="col-5">
                    <p class="fw-bold  pt-1">{{exam.time_of_exam}}</p>
                  </div>
                </div>
              </div>
              <div class=" pb-2 ms-3">

                <div class="mb-2">
                  <button class="btn btn-primary me-3 " routerLink="/teacher/grades" (click)="getId(i)">grades</button>
                  <button class="btn btn-secondary me-3 " (click)="setQuestions(i)">set Questions</button>
                </div>
                <div>
                  <button class="btn btn-secondary me-1 " routerLink="/teacher/updateExam"
                    (click)="getId(i)">Update</button>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="getId(i)">Delete</button>
                    <button class="btn btn-primary ms-1 " routerLink="/teacher/exam/questions"
                    (click)="getId(i)">questions</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade exampleModal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete Exam</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>are you sure want delete this exam?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="Delete()">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
