section{
  background-image: url(../../../assets/images/istockphoto-1251629816-170667a.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
h1{
  font-size: 80px;
  line-height: 90%;
  color: white;
}
