<section>
    <div class="container my-5">
        <h2 class="text-center fw-bold mb-5">my courses</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let course of myCourses;let i=index">
                <div class="py-3">
                    <div class="card border border-5">
                        <img src="../../../assets/images/List-of-Courses-after-10th-Standard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title fw-bold fs-4">{{course.title}}</h3>
                            <p class="card-text">{{course.description}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-outline-primary d-block m-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="getId(i)">question
                in this course</button>
                            <button class="btn btn-outline-dark d-block mt-2 m-auto" (click)="getId(i)" routerLink="/teacher/course/student">students in this course</button>
                            <button class="btn btn-outline-warning d-block mt-2 m-auto" (click)="getId(i)" routerLink="/teacher/Exams">Exams in this course</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">tybe of questions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question" value="complete" checked/>
                        <label class="form-check-label " for="question">complete</label>
                        <br>
                        <input class="form-check-input" type="radio" name="question" value="tf" />
                        <label class="form-check-label" for="question">true and false</label>
                        <br>
                        <input class="form-check-input" type="radio" name="question" value="smcq" />
                        <label class="form-check-label" for="question">static mcq</label>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="get_type()">show this type of questions</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>