<section>
    <div class="container py-3">
        <div class="row">
            <div class="col-md-8 offset-md-2 bg-primary">
                <div>
                    <form class="bg-white m-5 p-5" [formGroup]="formExam" (ngSubmit)="update(formExam)">
                        <h2 class="text-center fw-bold">update Exam</h2>
                        <div class="mb-3">
                            <label for="name" class="form-label">name</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                            <p class="text-danger" *ngIf="formExam.controls['name'].touched && formExam.controls['name'].errors?.['required']">
                                name is required</p>
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">code</label>
                            <input type="number" class="form-control" id="code" formControlName="code">
                            <p class="text-danger" *ngIf="formExam.controls['code'].touched && formExam.controls['code'].errors?.['required']">
                                code is required</p>
                            <p class="text-danger" *ngIf="formExam.controls['code'].touched && formExam.controls['code'].errors?.['pattern']">
                                min code is 5 numbers and max 20 number</p>
                            <p class="text-danger">{{errorMessage}}</p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="tf" class="form-label">number tf easy</label>
                                        <input type="number" class="form-control" id="tf-easy" formControlName="number_of_question_tf_easy">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_tf_easy'].touched && formExam.controls['number_of_question_tf_easy'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="tf" class="form-label">number tf medium</label>
                                        <input type="number" class="form-control" id="tf_medium" formControlName="number_of_question_tf_medium">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_tf_medium'].touched && formExam.controls['number_of_question_tf_medium'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="tf" class="form-label">number tf difficult</label>
                                        <input type="number" class="form-control" id="tf_difficult" formControlName="number_of_question_tf_difficult">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_tf_difficult'].touched && formExam.controls['number_of_question_tf_difficult'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="complete" class="form-label">number complete easy</label>
                                        <input type="number" class="form-control" id="complete_easy" formControlName="number_of_question_complete_easy">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_complete_easy'].touched && formExam.controls['number_of_question_complete_easy'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="complete" class="form-label">number complete medium</label>
                                        <input type="number" class="form-control" id="complete_medium" formControlName="number_of_question_complete_medium">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_complete_medium'].touched && formExam.controls['number_of_question_complete_medium'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="complete" class="form-label">number complete difficult</label>
                                        <input type="number" class="form-control" id="complete_difficult" formControlName="number_of_question_complete_difficult">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_complete_difficult'].touched && formExam.controls['number_of_question_complete_difficult'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="mcq" class="form-label">number mcq easy</label>
                                        <input type="number" class="form-control" id="mcq_easy" formControlName="number_of_question_static_mcq_easy">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_static_mcq_easy'].touched && formExam.controls['number_of_question_static_mcq_easy'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="mcq" class="form-label">number mcq medium</label>
                                        <input type="number" class="form-control" id="mcq_medium" formControlName="number_of_question_static_mcq_medium">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_static_mcq_medium'].touched && formExam.controls['number_of_question_static_mcq_medium'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="mcq" class="form-label">number mcq difficult</label>
                                        <input type="number" class="form-control" id="mcq_difficult" formControlName="number_of_question_static_mcq_difficult">
                                        <p class="text-danger" *ngIf="formExam.controls['number_of_question_static_mcq_difficult'].touched && formExam.controls['number_of_question_static_mcq_difficult'].errors?.['required']">
                                            number of questions is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="time_of_exam" class="form-label">date</label>
                            <input type="date" class="form-control" id="date" formControlName="date">
                            <p class="text-danger" *ngIf="formExam.controls['date'].touched && formExam.controls['date'].errors?.['required']">
                                date is required</p>
                        </div>
                        <div class="mb-3">
                            <label for="time_of_exam" class="form-label">start time</label>
                            <input type="time" class="form-control" id="time_of_exam" formControlName="time_of_exam">
                            <p class="text-danger" *ngIf="formExam.controls['time_of_exam'].touched && formExam.controls['time_of_exam'].errors?.['required']">
                                start time of exam is required</p>
                        </div>
                        <div class="mb-3">
                            <label for="time" class="form-label">end time</label>
                            <input type="time" class="form-control" id="end_time" formControlName="end_time">
                            <p class="text-danger" *ngIf="formExam.controls['end_time'].touched && formExam.controls['end_time'].errors?.['required']">
                                end time is required</p>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="btn btn-primary  m-auto d-block" [disabled]="formExam.invalid">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
