<div class="container editteacher">
  <div class="row">
    <div class="col-md-12 editteacher-right">
      <div class="tab-content" id="myTabContent">
        <h3 class="editteacher-heading">Edit user</h3>
        <form class="row editteacher-form" [formGroup]="editTeacherForm" (ngSubmit)="edit(editTeacherForm)">
          <div class="col-md-10 offset-md-1 mb-sm-5">
            <div class="alert alert-danger" *ngIf="errorMessage">
              <h3 class="text-center">{{errorMessage}}</h3>
            </div>
            <div class="form-group mb-3">
              <input type="text" class="form-control" placeholder="First Name" formControlName='firstname' />
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['firstname'].touched && editTeacherForm.controls['firstname'].errors?.['required']">
                first name is required</p>
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['firstname'].touched && editTeacherForm.controls['firstname'].errors?.['maxlength']">
                max length of first name is 15 char</p>
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['firstname'].touched && editTeacherForm.controls['firstname'].errors?.['minlength']">
                max length of first name is 3 char</p>
            </div>
            <div class="form-group mb-3">
              <input type="text" class="form-control" placeholder="Last Name" formControlName='lastname' />
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['lastname'].touched && editTeacherForm.controls['lastname'].errors?.['required']">
                first name is required</p>
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['lastname'].touched && editTeacherForm.controls['lastname'].errors?.['maxlength']">
                max length of last name is 15 char</p>
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['lastname'].touched && editTeacherForm.controls['lastname'].errors?.['minlength']">
                max length of lastt name is 3 char</p>
            </div>
            <div class="form-group mb-3">
              <input type="email" class="form-control" placeholder="Your Email " formControlName='email' />
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['email'].touched && editTeacherForm.controls['email'].errors?.['required']">
                email is required</p>
              <p class="text-danger"
                *ngIf="editTeacherForm.controls['email'].touched && editTeacherForm.controls['email'].errors?.['email']">
                please enter correct format of email</p>
            </div>
            <div>
              <button type="submit" class="btneditteacher btn btn-primary d-block m-auto mt-5" [disabled]="!editTeacherForm.valid">edit teacher</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

