<section>
  <div class="container my-5">
    <h2 class="text-center fw-bold mb-5">Enroll teachers to courses</h2>
    <div class="alert alert-danger" *ngIf="errorMessage">
      <h3 class="text-center">{{errorMessage}}</h3>
    </div>
    <table class="table table-bordered text-center">
      <thead class="bg-primary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">name</th>
          <th scope="col">Email</th>
          <th scope="col">Enroll in course</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of allTeachers ;let i=index">
          <td>{{teacher.id}}</td>
          <td>{{teacher.firstname}} {{teacher.lastname}}</td>
          <td>{{teacher.email}}</td>
          <td>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="getId(i)">Enroll</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enroll teacher to course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-center">Choose the courses that the teacher wants to enroll in</p>
          <form [formGroup]="enrollForm" (ngSubmit)="show(enrollForm)">
            <div class="container">
              <div class="row">
                <div class="col-md-4" *ngFor="let course of allCourses;let i=index">
                  <div class="form-check">
                    <input class="form-check-input all" type="radio" formControlName="course_id" value={{course.id}}>
                    <label class="form-check-label">{{course.title}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Enroll</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
