<div class="container my-5">
  <div class="bg-primary">
    <div class="container p-5">
      <div class="bg-white">
        <h1 class="pt-5 text-center">reset Password</h1>
        <div class="alert alert-danger text-center" role="alert" *ngIf="error">
           {{error}}
        </div>
        <form class="px-3 pb-5" [formGroup]="resetForm" (ngSubmit)="reset(resetForm)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" required class="form-control" id="exampleInputEmail1" formControlName="email">
            <p class="text-danger "
              *ngIf="resetForm.controls['email'].touched && resetForm.controls['email'].errors?.['required']">email is
              required</p>
            <p class="text-danger"
              *ngIf="resetForm.controls['email'].touched && resetForm.controls['email'].errors?.['email']">email is not
              valid format</p>
          </div>
          <div class="mb-3 mt-5">
            <label for="token" class="form-label">token</label>
            <input type="text" required class="form-control " id="token" formControlName="token">
            <p class="text-danger"
              *ngIf="resetForm.controls['token'].touched && resetForm.controls['token'].errors?.['required']">token is
              required</p>
            <p class="text-danger"
              *ngIf="resetForm.controls['token'].touched && resetForm.controls['token'].errors?.['maxlength']">max
              length is 5</p>
            <p class="text-danger"
              *ngIf="resetForm.controls['token'].touched && resetForm.controls['token'].errors?.['minlength']">min
              length is 5</p>
          </div>
          <div class="mb-3 mt-5">
            <label for="password" class="form-label">password</label>
            <input type="password" required class="form-control " id="password" formControlName="password">
            <p class="text-danger"
              *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
              password is required</p>
            <p class="text-danger"
              *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['pattern']">
              please enter password contain at least lenght 7 and contain uppercase ,lowercase and numbers</p>
          </div>
          <div class="mb-3 mt-5">
            <label for="confirm-password" class="form-label">confirm password</label>
            <input type="password" required class="form-control " id="confirm-password"
              formControlName="password_confirmation">
            <p class="text-danger"
              *ngIf="resetForm.controls['password_confirmation'].touched && resetForm.controls['password_confirmation'].errors?.['required']">
              password is required</p>
          </div>
          <button type="submit" class="btn btn-primary d-block m-auto">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
